<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Justin Reiter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Justin Reiter">
    <meta name="keywords" content="Justin, Reiter, Waterloo">
    <meta name="description" content="Personal website for Justin Reiter">
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <script src="particles.js"></script>
    <script src="app.js"></script>
    <script src="stats.js"></script>
    <script src="jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".menuItem").click(function() {

                if (document.getElementById("topnav").className == "topnav responsive") {
                    navBar();
                }
            })
        })
    </script>
</head>

<body onload="wrapperOnload()" id="body">

    <!-- TOP NAV -->
    <nav class="topnav" id="topnav">
        <a href="#body">Justin Reiter</a>
        <div class="topnav-right" id="topnav-right">
            <a href="#body" class="menuItem">Home</a>
            <a href="#projects" class="menuItem">Personal Projects</a>
            <a href="#contact" class="menuItem">Contact Me</a>
            <a href="javascript:void(0);" class="icon" onclick="navBar()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </nav>

    <!-- PARTICLES AND ABOUT ME SECTION -->
    <!--<div class="fluid-container particles"> -->
        <div class="fluid-container" id="particles-background">
            <div class="fluid-container" id="particles-js"></div>
            <div class="particles fluid-container">
                <div class="container bg-theme" id="home">
                    <div class="row">
                        <h1 class="dark-bg" id="name">Hello!</h1>
                    </div>
                    <div class="row">
                        <h3 class="dark-bg">Software Engineering 2023 - University of Waterloo</h3>
                    </div>
                    <div class="row">
                        <div class=""></div>
                    </div>
                    <div class="btn-group row">
                        <a target="_blank" href="https://bit.ly/ReiterLinkedin" class="fab fa-linkedin social" aria-label="Linkedin"></a>
                        <a target="_blank" href="https://bit.ly/ReiterGithub" class="fab fa-github social" aria-label="Github"></a>
                        <a target="_blank" href="http://bit.ly/ReiterResumeNew" class="fas fa-file-alt social" aria-label="Resume" download="Justin Reiter - Resume"></a>
                        <a target="_blank" href="#contact" class="fas fa-envelope social" aria-label="Email"></a>
                    </div>
                    <div class="hover-coop">
                        <h5 style="text-align: center">
                            I am currently in search for a co-op position for Jan 2019 - Apr 2019
                        </h5>
                    </div>
                </div>
                <br><br>
                <div class="container card bg-theme" id="aboutme">
                    <div class="row" style="padding-top: 2%">
                        <div class="col-sm-6">
                            <h4 style="text-align: center;">About Me</h4>
                            <p style="padding-left: 2%">
                                I am currently a 2A Software Engineering student at the University of Waterloo.
                                <br><br>
                                I have proficient with Java, C#, C++ and HTML, and have additional experience programming in JavaScript. Currently I am interested in Artificial Intelligence as well as IoT. My current projects include enhancing this website, and creating an intelligent bot to play WarZone.
                                <br><br>
                                I am always interested in learning something new, whether it is a new language, library, algorithm or outside of programming.
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <section class="img-protection" style="text-align: center">
                                <img src="img/me.png" alt="Me" id="me" draggable="false">
                            </section>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 2%;">
                        <div class="col-sm-2"></div>
                        <table class="table table-bordered col-sm-8">
                            <tbody>
                                <tr>
                                    <td>Proficient in:</td>
                                    <td>Java, C#, C++, HTML, BASH</td>
                                </tr>
                                <tr>
                                    <td>Experience with:</td>
                                    <td>JavaScript, C</td>
                                </tr>
                                <tr>
                                    <td>Libraries + Frameworks:</td>
                                    <td>Apache (POI), BootStrap, AngularJS, Firebase, Arrive.JS</td>
                                </tr>
                                <tr>
                                    <td>Tools:</td>
                                    <td>OpenShift, Nexus, GitHub (API), Git, Visual Studios, JetBrains Suite</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->

    <div class="divider">
        <br>
    </div>

    <!-- PROJECTS -->
    <div class="parallax" style="background-image: url('img/f1.jpg');">
        <div class="container" style="padding-bottom: 2%;" id="projects">
            <div class="project-header">
                <h4>Projects</h4>
                <br><h6>For a full list of projects, check out my <a href="http://bit.ly/ReiterRepos">Github profile</a></h6>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card" id="card">
                        <div class="card-header"><h5>Warlight.AI <span class="badge badge-primary">C#</span></h5></div>
                        <p class="card-body">
                            Development of a smart bot, to be used for the <a target="_blank" href="https://www.warzone.com/" aria-label="Warzone">Warzone</a> game with the use of the Warlight Bot API. Bot is developed with C# and implements various scoring algorithms to pick and play similar to a higher end player. Currently will search for efficient and open picks. Still in progress and improving the gameplay.
                        </p>
                        <div class="card-footer"><a target="_blank" href="http://bit.ly/ReiterWarlight" class="fab fa-github project-links col-sm-12" aria-label="Github"></a></div>
                    </div>
                </div>
                <div class ="col-sm-4">
                    <div class="card" id="card">
                        <div class="card-header"><h5>Personal Website <span class="badge badge-primary">HTML</span> <span class="badge badge-primary">JS</span> <span class="badge badge-primary">BootStrap4</span> <span class="badge badge-primary">Firebase</span></h5></div>
                        <p class="card-body">
                            Website built using GitHub Pages. This website is built using various languages and frameworks. The website is built from scratch and combines BootStrap4. Contact form is built using AngularJS and uses Firebase + Google App Scripts to immediately notify me and store data. Javascript is used for handling the process of information and improving responsiveness.
                        </p>
                        <div class="card-footer"><a target="_blank" href="http://bit.ly/ReiterWeb" class="fab fa-github project-links col-sm-12" aria-label="Github"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" id="card">
                        <div class="card-header"><h5>Western Blot Parser <span class="badge badge-primary">Java</span></h5></div>
                        <p class="card-body">
                            A program built for use by a post-doctorate researcher to parse raw data from an excel file and outputs organized computations into separate excel file. Build in Java using Java Swing for the GUI and the Apache POI library for utilizing Excel files.
                        </p>
                        <div class="card-footer"><a target="_blank" href="https://bit.ly/ReiterBlot" class="fab fa-github project-links col-sm-12" aria-label="Github"></a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card" id="card">
                        <div class="card-header"><h5>Decast <span class="badge badge-primary">C++</span></h5></div>
                        <p class="card-body">
                            A project created in SE101 to convert a Raspberry PI into an infrared controller, with access to Amazon Web Services and controllable from Apple Devices. Built using C++ with use of LIRC for infrared interface and Amazon Lambda for communication between phone and Raspberry PI.
                        </p>
                        <div class="card-footer"><a target="_blank" href="http://bit.ly/ReiterDecast" class="fab fa-github project-links col-sm-12" aria-label="Github"></a></div>
                    </div>
                </div>
                <!--<div class="col-sm-4">-->
                    <!--<div class="card" id="card">-->
                        <!--<div class="card-header"><h5>Tetris <span class="badge badge-primary">Java</span></h5></div>-->
                        <!--<p class="card-body">-->
                            <!--A tetris game built in Java with the use of Java Swing for the GUI. Currently a work in progress.-->
                        <!--</p>-->
                        <!--<div class="card-footer"><a target="_blank" href="https://bit.ly/ReiterTetris" class="fab fa-github project-links col-sm-12" aria-label="Github"></a></div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-sm-4">
                    <div class="card" id="card">
                        <div class="card-header"><h5>Short/Cut <span class="badge badge-primary">Java</span></h5></div>
                        <p class="card-body">
                            An application built during THacks2. Program optimizes use of raw material through progressively determining optimal places to cut. Built in Java, using Java Swing for the GUI and a Monte Carlo algorithm for optimizing cuts.
                        </p>
                        <div class="card-footer"><a target="_blank" href="https://bit.ly/ReiterShortCut" class="fab fa-github project-links col-sm-12" aria-label="Github"></a></div>
                    </div>
                </div>
                <!--<div class="col-sm-4">-->
                    <!--<div class="card" id="card">-->
                        <!--<div class="card-header"><h5>Algorithm Practice <span class="badge badge-primary">Java</span></h5></div>-->
                        <!--<p class="card-body">-->
                            <!--Implementation of a various algorithms for sorting and searching.<br><br>Currently coded: Radix Sort, QuickSort, MergeSort, CountingSort-->
                        <!--</p>-->
                        <!--<div class="card-footer"><a target="_blank" href="http://bit.ly/ReiterAlgos" class="fab fa-github project-links col-sm-12" aria-label="Github"></a></div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-sm-4">
                    <div class="card" id="card">
                        <div class="card-header"><h5>Synaptic Plasticity Website <span class="badge badge-primary">HTML</span> <span class="badge badge-primary">WordPress</span></h5></div>
                        <p class="card-body">
                            Built a website for the Graham Collingridge laboratory to showcase the research being conducted, as well as information about the team and location. Website is built using WordPress as the CMS to allow for easy modification, and HTML/CSS to provide custom features and looks. Currently maintained solely by research lab.
                        </p>
                        <div class="card-footer"><a target="_blank" href="http://bit.ly/ReiterSynPlast" class="fas fa-external-link-alt project-links col-sm-12" aria-label="Synaptic Plasticity"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider">
        <br>
    </div>

    <!-- FORM -->
    <div class="parallax" style="background-image: url('img/montreal.jpg');">
        <div ng-app="" id="contact">
            <div ng-app="contactForm" id="email-form">
                <form class="form-group gForm" id="contactForm">
                    <h4>Hello{{ name == null ? "!" : "" }} {{ name }}{{ name != null ? "!" : "" }}</h4>
                    <p> I am built with AngularJS and Firebase :)</p>
                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input type="text" class="form-control resetField" id="person" ng-model="name" name="person" placeholder="Joe Random" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control resetField" id="email" ng-model="user.email" name="email" placeholder="example@example.com" required>
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject:</label>
                        <input type="text" class="form-control resetField" id="subject" ng-model="user.subject" name="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <label for="desc">Description:</label>
                        <textarea type="text" class="form-control resetField" id="desc" ng-model="user.desc" rows="5" name="description" placeholder="Description" required></textarea>
                    </div>
                    <p>I will get back to you as soon as possible!</p>
                    <button type="submit" id="formButton" data-toggle="modal" data-target="#myModal">Submit</button>
                </form>
            </div>
        </div>

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Your request has been submitted!</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        Thank you for contacting me. I will get back to you as soon as possible :)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer" id="footer">
        <br>
        <h5>Want to contact me directly?</h5>
        <p>JDReiter@uwaterloo.ca</p>
        <br>
        <p>Made by Justin Reiter &copy; 2019</p>
    </div>


    <!-- The core Firebase JS SDK is always required and must be listed first -->


    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#config-web-app -->
    <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyBmwDttXKIn2SOnneJyx6GM5KSl7Rq1lRA",
            authDomain: "jreiter-contact-form.firebaseapp.com",
            databaseURL: "https://jreiter-contact-form.firebaseio.com",
            projectId: "jreiter-contact-form",
            storageBucket: "jreiter-contact-form.appspot.com",
            messagingSenderId: "789481615379",
            appId: "1:789481615379:web:dc7980fc2e89d414"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>
    <script src="scripts/main.js"></script>
</body>
</html>